@import "tailwindcss";

@theme {
    --font-drawed: "Amatic SC", sans-serif;
    --animate-wiggle: wiggle 1.5s ease-in-out infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(3deg);
        }
    }
}