---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/Button";
---

<Layout>
	<header class="h-[80dvh] flex justify-center items-center">
		<section class="w-1/3">
			<h2 class="relative text-5xl font-extrabold font-drawed">
				<span class="block">Los productos</span>
				<span>para tu emprendimiento</span>
			</h2>
			<p class="text-balance mt-5 text-lg">
				Con ProductosHere tendrás los productos de mejor calidad para tu
				emprendimiento. Y lo mejor, a crédito.
			</p>
			<footer class="mt-10">
				<Button type="outlined" to="/login">Iniciar Sesión</Button>
				<Button type="filled" to="/signup">Registrarse</Button>
			</footer>
		</section>
		<aside class="w-96">
			<img src="../../public/cat.png" alt="cat" />
		</aside>
	</header>
</Layout>
