---
import Layout from "../layouts/Layout.astro";
import CardInfo from "../components/CardInfo.astro";
import { Decoration } from "../components/Decoration";
import { Button } from "../components/Button";
---

<Layout>
	<header class="h-[80dvh] flex justify-center items-center">
		<section class="w-1/3">
			<h2 class="relative text-5xl font-extrabold font-drawed">
				<span class="block">Los productos</span>
				<span>para tu emprendimiento</span>
				<div class="ml-28">
					<Decoration
						className="w-64"
						type="underlined"
						variation={1}
					/>
				</div>
			</h2>
			<p class="text-balance mt-2 text-lg">
				Con ProductosHere tendrás los productos de mejor calidad para tu
				emprendimiento. Y lo mejor, a crédito.
			</p>
			<footer class="mt-10">
				<Button type="outlined" to="/login">Iniciar Sesión</Button>
				<Button type="filled" to="/signup">Registrarse</Button>
			</footer>
		</section>
		<aside class="w-96 relative">
			<div class="-mt-10 ml-10 absolute">
				<Decoration className="w-20" type="highlighted" variation={1} />
			</div>

			<img src="../../public/cat.png" alt="cat" />
		</aside>
		<div class="absolute bottom-0 mb-10">
			<Decoration
				type="underlined"
				variation={2}
				className="fill-black w-96"
			/>
		</div>
	</header>
	<div
		class="w-dvw h-10 mt-5 bg-gradient-to-b from-white to-black separator blur-2xl"
	>
	</div>
	<section class="bg-black text-white">
		<div
			class="flex justify-center items-center flex-col sticky top-0 left-0 z-10"
		>
			<h1 class="mt-10 mb-2 font-drawed text-5xl">¿Cómo trabajamos?</h1>
			<Decoration className="w-80" variation={2} />
		</div>
		<main class="flex justify-around">
			<aside>
				<CardInfo class="mt-28" />
				<CardInfo class="mt-48" />
				<CardInfo class="mt-48" />
			</aside>
			<div>
				<img
					class="max-w-md sticky top-28 left-0"
					src="../../public/frog.png"
					alt="frog"
				/>
			</div>
		</main>
	</section>
	<section class="h-dvh bg-black text-white"></section>
</Layout>
