---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/preact/Button";
import { Underline } from "../components/decorations/Underline";
import { Doodle } from "../components/decorations/Doodle";
import { Highlight } from "../components/decorations/Highlight";
---

<script>
	import { isAuthenticated } from "../store/mod";
	const $switchLogin = document.getElementById("switch-login");
	$switchLogin?.addEventListener("click", () => {
		isAuthenticated.value = !isAuthenticated.value;
	});
</script>

<Layout>
	<header
		class="h-[80dvh] motion-preset-pulse-sm flex justify-center items-center"
	>
		<section class="w-1/3">
			<h2 class="relative text-5xl font-extrabold font-drawed">
				<span class="block">Los productos</span>
				<span>para tu emprendimiento</span>
				<div class="ml-28">
					<Underline class="w-32 lg:w-64" />
				</div>
			</h2>
			<p class="text-balance mt-2 text-lg">
				Con ProductosHere tendrás los productos de mejor calidad para tu
				emprendimiento. Y lo mejor, a crédito.
			</p>
			<footer class="mt-10">
				<Button id="switch-login" type="outlined"
					>Iniciar Sesión
				</Button>
				<Button type="filled" to="/signup">Registrarse</Button>
			</footer>
		</section>
		<aside class="w-96 relative">
			<div class="-mt-10 ml-10 absolute">
				<Highlight class="w-20" />
			</div>
			<img
				class="aspect-square w-full"
				src="../assets/cat.avif"
				alt="cat"
			/>
		</aside>

		<div class="absolute bottom-0 mb-10">
			<Doodle class="fill-black w-96" />
		</div>
	</header>
	<div class="w-dvw h-32 mt-32"></div>
	<section class="">
		<div
			class="flex justify-center items-center flex-col sticky top-3 left-0 z-10 -mt-10"
		>
			<h1 class="mb-2 font-drawed text-5xl">¿Cómo trabajamos?</h1>
			<Doodle class="w-80 fill-black" />
		</div>
		<main class="flex justify-around"></main>
	</section>
	<section class="h-dvh bg-black text-white"></section>
</Layout>
