---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/Button";
---

<Layout>
	<Button type="underline">Underline</Button>
	<Button type="filled">Filled</Button>
	<Button type="outlined">Outlined</Button>
</Layout>
