---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sign Up">
    <!-- step 1 Animation -->
     <div>
        <h1>Quieres ser parte de la nosotros?</h1>
        <h2>Increíble</h2>
     </div>
</Layout>