---
import { ClientRouter } from "astro:transitions";
import "@fontsource/amatic-sc";
import "../styles/global.css";
import { Sparkles } from "../components/decorations/Sparkles";
import { Loop } from "../components/decorations/Loop";
import { ThreeArrows } from "../components/decorations/ThreeArrows";
import { Arrow } from "../components/decorations/Arrow";
import { BurgerButton } from "../components/preact/BurgerButton";
import Logo from "../components/Logo.astro";
import CommonHead from "../components/CommonHead.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <CommonHead title="ProductosHere" description="ProductosHere" />
    </head>
    <body>
        <main
            class="w-dvw h-dvh flex justify-center items-center flex-col relative"
        >
            <a
                href="/"
                type="button"
                class="absolute z-10 flex justify-center items-center top-10 left-25 cursor-pointer m-auto mt-2 *:transition *:duration-300 *:ease-in-out hover:*:-translate-x-1"
            >
                <Arrow class="w-7 h-7 rotate-180" />
                <span class="font-drawed text-3xl ml-2">Volver</span>
            </a>
            <section class="h-16 flex flex-col justify-center items-center">
                <a class="z-20" href="/">
                    <Logo class="text-5xl" />
                </a>
            </section>
            <BurgerButton client:idle class="" />
            <Sparkles
                class="w-64 h-64 absolute top-40 left-10 fill-neutral-400"
            />
            <Sparkles
                class="w-64 h-64 absolute bottom-10 right-10 fill-neutral-400"
            />
            <Loop class="w-96 h-96 absolute top-0 right-0 fill-neutral-400" />

            <ThreeArrows
                class="w-48 h-48 absolute bottom-10 left-10 fill-neutral-400"
            />
            <slot />
        </main>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #f4f2ed;
    }
</style>
