---
import "@fontsource/amatic-sc";
import "../styles/global.css";
import AlignLeftIcon from "../components/icons/AlignLeftIcon.astro";
import LayoutGridIcon from "../components/icons/LayoutGridIcon.astro";
import ListIcon from "../components/icons/ListIcon.astro";
import Logo from "../components/Logo.astro";
import CommonHead from "../components/CommonHead.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <CommonHead title="ProductosHere" description="ProductosHere" />
    </head>

    <body class="h-dvh w-dvw flex overflow-hidden">
        <aside class="h-full w-1/4 border-r border-neutral-700 font-drawed">
            <header class="mt-2">
                <a href="/">
                    <Logo
                        class="text-center"
                        transition:name="logo"
                        transition:persist
                    />
                </a>
            </header>
            <ul class="h-full flex-col justify-between flex text-3xl mt-20">
                <div class="*:cursor-pointer *:b *:py-2 *:hover:bg-neutral-200">
                    <li id="dashboard">
                        <a class="flex items-center gap-2 border-l-4 px-3">
                            <AlignLeftIcon />
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li id="orders">
                        <a class="flex items-center gap-2">
                            <LayoutGridIcon />
                            <span>Mis pedidos</span>
                        </a>
                    </li>
                    <li id="" class="flex items-center gap-2">
                        <a>
                            <ListIcon />
                            <span> Contratos </span>
                        </a>
                    </li>
                </div>
                <div class="mb-10">
                    <li>
                        <a>Perfil</a>
                    </li>
                </div>
            </ul>
        </aside>
        <main class="w-full overflow-scroll">
            <h1 class="text-8xl">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                harum at suscipit quibusdam rerum dolorum non molestiae, saepe
                hic sit dignissimos qui quos! Mollitia libero recusandae nulla,
                impedit quod iusto.
            </h1>
        </main>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #f4f2ed;
    }
</style>

<script></script>
