---
import LandingBar from "../components/LandingBar.astro";
import CommonHead from "../components/CommonHead.astro";
import "@fontsource/amatic-sc";
import "@fontsource/grandstander/300.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<CommonHead title="ProductosHere" description="ProductosHere" />
	</head>
	<body>
		<LandingBar transition:persist />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #f4f2ed;
		font-family: var(--font-readable);
	}
</style>
