---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to ProductosHere.">
	<main>
		<h1>
			Welcome to <span class="from-black-to-white">ProductosHere</span>
		</h1>
	</main>
</Layout>
