---
import { Logo } from "../components/Logo";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to ProductosHere.">
	<main>
		<h1>Welcome to ProductosHere.</h1>
	</main>
</Layout>
