---
import CardBackground from "./CardBackground.astro";
interface Props {
    class: string;
}

const { class: className } = Astro.props;
---

<article class=`rounded-xl flex relative ${className}`>
    <div class="absolute">
        <CardBackground class="w-96" />
    </div>
    <p class="w-[32ch] ml-10 mt-12">
        <slot>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
            ullam quisquam ad quae veritatis, maxime vel temporibus maiores,
            repudiandae cum reprehenderit a inventore voluptatibus quidem
            tempora eveniet corporis aperiam. Quaerat?
        </slot>
    </p>
</article>
