---
import { Star, Book, Chats, Stats } from "./Icons";
import CardBackground from "./CardBackground.astro";
interface Props {
    class: string;
    icon?: "star" | "book" | "chats" | "stats";
}

const { class: className, icon } = Astro.props;
---

<article class=`rounded-xl flex relative ${className}`>
    <div class="absolute -z-10">
        <CardBackground class="w-[29rem]" />
    </div>
    <div class="flex flex-col">
        <h3 class="ml-28 mt-4 text-xl font-bold font-drawed text-nowrap">
            <slot name="title" />
        </h3>
        <p class="w-[35ch] ml-10 mt-5 text-balance text-lg">
            <slot name="description" />
        </p>
        {icon === "star" && <Star className="w-28 h-28 fill-black self-end" />}
        {icon === "book" && <Book className="w-28 h-28 fill-black self-end" />}
        {
            icon === "chats" && (
                <Chats className="w-28 h-28 fill-black self-end" />
            )
        }
        {
            icon === "stats" && (
                <Stats className="w-28 h-28 fill-black self-end" />
            )
        }
    </div>
</article>
