---
import { Star, Book, Chats, Stats } from "./Icons";
import CardBackground from "./CardBackground.astro";
interface Props {
    class: string;
    icon?: string;
}

const { class: className, icon } = Astro.props;
---

<article class=`rounded-xl flex relative ${className}`>
    <div class="absolute -z-10">
        <CardBackground class="w-[29rem]" />
    </div>
    <div class="flex flex-col">
        <h3 class="ml-24 mt-4 text-xl font-bold font-drawed text-nowrap">
            <slot name="title" />
        </h3>
        <p class="w-[35ch] ml-10 mt-5 text-balance text-lg">
            <slot name="description" />
        </p>
        {icon === "star" && <Star class="w-24 h-24 fill-black" />}
        {icon === "book" && <Book class="w-24 h-24 fill-black" />}
        {icon === "chats" && <Chats class="w-24 h-24 fill-black" />}
        {icon === "stats" && <Stats class="w-24 h-24 fill-black" />}
    </div>
</article>
