---
import Logo from "./Logo.astro";
import { Button } from "./preact/Button";
import { BurgerButton } from "./preact/BurgerButton";
---

<nav class="sticky top-0 z-50 font-light md:mx-20">
    <ul class="flex justify-between items-center py-5 px-10">
        <div>
            <a href="/">
                <Logo />
            </a>
        </div>
        <div class="hidden md:block">
            <Button to="/">¿Quienes somos?</Button>
            <Button type="outlined" to="/login">Iniciar Sesión</Button>
            <Button className="" type="filled" to="/signup"
                >Registrarse
            </Button>
        </div>
        <div class="md:hidden">
            <BurgerButton client:idle />
        </div>
    </ul>
</nav>
