---
import Logo from "./Logo.astro";
import { Button } from "./preact/Button";
import { LandingMenu } from "./preact/LandingMenu";
---

<nav class="sticky top-0 z-50 font-light md:mx-20">
    <ul class="flex justify-between items-center py-5 px-10">
        <div>
            <a href="/">
                <Logo transition:name="logo" transition:persist />
            </a>
        </div>
        <LandingMenu client:idle />
    </ul>
</nav>
