---
import Logo from "./Logo.astro";
import { Button } from "./Button";
---

<nav>
    <ul class="flex justify-between items-center p-4">
        <div>
            <a href="/">
                <Logo />
            </a>
        </div>
        <div>
            <Button to="/">¿Quienes somos?</Button>
            <Button type="outlined" to="/login">Iniciar Sesión</Button>
            <Button type="filled" to="/signup">Registrarse</Button>
        </div>
    </ul>
</nav>
