---
import Logo from "./Logo.astro";
---

<nav class="bg-red-300">
    <ul class="flex justify-between items-center p-4">
        <div>
            <a href="/">
                <Logo />
            </a>
        </div>
        <div>
            <a href="/">¿Quienes somos?</a>
            <a href="/login">Iniciar Sesión</a>
            <a href="/signup">Registrarse</a>
        </div>
    </ul>
</nav>
