@import "tailwindcss";

@theme {
    --font-drawed: "Amatic SC", sans-serif;
    --animate-wiggle: wiggle 300ms ease-in-out infinite;
    --animate-starting: presentation 7s ease-out forwards;
    --animate-pulse-2: pulse-2 2s ease-in-out infinite;
    --animate-fade-in: fadeIn 1s ease-in forwards;
    --animate-fade-out: fadeOut 1s ease-in forwards;
    --font-readable: "Grandstander", sans-serif;

    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-5deg);
        }

        50% {
            transform: rotate(5deg);
        }
    }

    @keyframes pulse-2 {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }
}